<!DOCTYPE html>
{%load cache%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>ABOUT!!!!</h2>
   <p>Lorem ipsum dolor sit  consectetur adipisicing elit. Voluptatibus dolor nam ex facere possimus sint, natus recusandae eum laborum dolorum?</p>
    {%cache 30 random%}
   <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, temporibus!</h3>
   <button type="submit">ENTER</button>
   {%endcache random%}
</body>
</html>